body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  grid-gap: 12px;
  height: auto;
  margin-left: 50px;
  width: auto;
  padding: 1rem 3rem;
}

.product-grid {
  display: contents;
  /* overflow: hidden; */
  box-shadow: 0px 0px 65px -15px;
  border-radius: 15px;
  margin: 5px;
  width: 220px;
  height: 320px; 
}

.full-card {
  display: inline;
  overflow: hidden;
  box-shadow: 0px 0px 65px -15px;
  border-radius: 15px;
  margin: 5px;
  width: 250px;
  height: 250px;
}

.card-image {
  justify-content: center;
  width: 100%;
  height: 60%;
  padding: 15px;
  object-fit: contain;
  /* border-radius: 50px; */
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100%;
}

.image {
  position: relative;
  height: calc(100% - 325px);
  height: 100vh;
}

.product-page {
  justify-content: center;
}

.product-listing {
  align-items: center;
  width: 100%;

}
.listing-image {
  height: 50%;
  width: 50%;
  margin: 50px;
}


.product-container {
  display: flex;
  align-items: center;
  margin: 25px;

}

.description {
  display: flex;
  padding: 50px
}

/* video */
#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;

}

.product_page_image{
  min-height: 8rem;
  max-height: 8rem;
  object-fit: cover;
  
  /* display: block; */
  /* margin-left: 50%;
  margin-right: 50%; */
  width: 50%;

}

.product_page_card{
  text-align: center;
  min-width: 20%;
  height: 18rem;
  text-decoration: none;
  padding: 10px;
}

.product_page_title{
  font-size: 18px;
  color: black; 
}

.product_page_quantity{
  font-size: 14px;
  color: black; 
}

.product_page_price{
  font-size: 14px;
  color: black; 
}

#root{
  background-image: linear-gradient(to bottom, rgb(223, 136, 136) -20%, rgba(255,0,0,0) 20% );
}

/*  */
.top-to-btm{
  position: relative;
}
.icon-position{
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style{
  background-color: #551B54;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}
.icon-style:hover{
  animation: none;
  background: #fff;
  color: #551B54;
  border: 2px solid #551B54;
}
@keyframes movebtn {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(20px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }
}

.title {
  font-family: 'Signika Negative', sans-serif;
  font-size: 50px;
  position: fixed;
  left: 20%;
  top: 50%;
}

/* /////////////// SIGN IN and SIGN UP */
#sign_in_bg {
  /* background-image: url('login.jpg'); */

  height: 100vh;

  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
}

#sign_up_bg {
  /* background-image: url('signin2.jpg'); */

  height: 100vh;

  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
}




/* //////////////////////THIS IS FOR SIGN IN AND SIGN UP ONLY////////////////////// */
.loginbox{
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.avatar{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: -70px;
  left: calc(50% - 60px);


}

#sign_in_buyer_text {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

#sign_in_seller_text {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

#sign_up_buyer_text {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

#sign_up_seller_text {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="username"], input[type="password"], input[type="name"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px; 
}

.loginbox button[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #D92B4B;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
}


.loginbox button[type="submit"]:hover {
  cursor: pointer;
  background: #3906cf;
  color: #000;
}
